.a {
    background-color: #a38494 !important;
}
.b {
    background-color: #a3ae62 !important;
}
.c {
    background-color: #d4dfb5 !important;
}
.d {
    background-color: #607669 !important;
}
.e {
    background-color: #9b3865 !important;
}
.f {
    background-color: #d4d4d2 !important;
}
.g {
    background-color: #b59e72 !important;
}
.h {
    background-color: #a4823a !important;
}
.i {
    background-color: #607661 !important;
}
.j {
    background-color: #373e44 !important;
}
.k {
    background-color: #56657a !important;
}
.l {
    background-color: #e4d9c8 !important;
}
.m {
    background-color: #82c0cf !important;
}
.n {
    background-color: #ab6834 !important;
}
.o {
    background-color: #edaf66 !important;
}
.p {
    background-color: #1a8daa !important;
}
.r {
    background-color: #6698a5 !important;
}
.s {
    background-color: #9e5598 !important;
}
.t {
    background-color: #64749d !important;
}
.u {
    background-color: #6b727b !important;
}
.v {
    background-color: #a46c8b !important;
}



.b01 {
    background-color: #1c5252 !important;
}
.b02 {
    background-color: #2a787a !important;
}
.b03 {
    background-color: #569a9b !important;
}
.b04 {
    background-color: #40b3b6 !important;
}
.b05 {
    background-color: #73cdce !important;
}
.b06 {
    background-color: #a8e0e1 !important;
}
.b07 {
    background-color: #c3e3e4 !important;
}
.b08 {
    background-color: #deebec !important;
}
.b09 {
    background-color: #e4e4e4 !important;
}
.b10 {
    background-color: #cfcccc !important;
}
.b11 {
    background-color: #b5b4b4 !important;
}
.b12 {
    background-color: #9d968d !important;
}
.b13 {
    background-color: #8f7c64 !important;
}
.b14 {
    background-color: #866947 !important;
}
.b15 {
    background-color: #8a5c2b !important;
}
.b16 {
    background-color: #9e580e !important;
}
.b17 {
    background-color: #c56907 !important;
}
.b18 {
    background-color: #e17604 !important;
}
.b19 {
    background-color: #fd901b !important;
}
.b20 {
    background-color: #faa952 !important;
}
.b21 {
    background-color: #f7c48e !important;
}
