.b01 {
    color: white !important;
    background-color: #1c5252 !important;
}
.b02 {
    color: white !important;
    background-color: #2a787a !important;
}
.b03 {
    color: white !important;
    background-color: #569a9b !important;
}
.b04 {
    color: white !important;
    background-color: #40b3b6 !important;
}
.b05 {
    color: white !important;
    background-color: #73cdce !important;
}
.b06 {
    color: white !important;
    background-color: #a8e0e1 !important;
}
.b07 {
    color: white !important;
    background-color: #c3e3e4 !important;
}
.b08 {
    color: white !important;
    background-color: #c6dcbe !important;
}
.b09 {
    color: white !important;
    background-color: #9fc592 !important;
}
.b10 {
    color: white !important;
    background-color: #80b56e !important;
}
.b11 {
    color: white !important;
    background-color: #559640 !important;
}
.b12 {
    color: white !important;
    background-color: #428b27 !important;
}
.b13 {
    color: white !important;
    background-color: #307318 !important;
}
.b14 {
    color: white !important;
    background-color: #285e15 !important;
}
.b15 {
    color: white !important;
    background-color: #4d5e15 !important;
}
.b16 {
    color: white !important;
    background-color: #7a7a13 !important;
}
.b17 {
    color: white !important;
    background-color: #949413 !important;
}
.b18 {
    color: white !important;
    background-color: #b3b30f !important;
}
.b19 {
    color: white !important;
    background-color: #e7e707 !important;
}
.b20 {
    color: white !important;
    background-color: #ffe016 !important;
}
.b21 {
    color: white !important;
    background-color: #ffcd16 !important;
}